<link rel="stylesheet" href="/css/footer.css">
<footer id="issuetrackerfooter" class="bg-light text-center text-white set-footer-positon">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        
    <!-- Section: Social media -->
    <section class="mb-4">

    <!-- Facebook -->
    <a href = "https://www.facebook.com/"
    class="btn text-white btn-floating m-1"
    style="background-color: rgb(3, 37, 117);"
    href="#!"
    role="button"
    ><i class="fab fa-facebook-f"></i
    ></a>
    
    <!-- Twitter -->
    <a 
    class="btn text-white btn-floating m-1"
    style="background-color: #55acee;"
    href = "https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Den"
    role="button"
    ><i class="fab fa-twitter"></i
    ></a>
    
    <!-- Google -->
    <a 
    class="btn text-white btn-floating m-1"
    style="background-color: #dd4b39;"
    href = "https://www.google.com/"
    role="button"
    ><i class="fab fa-google"></i
    ></a>
    
    <!-- Instagram -->
    <a 
    class="btn text-white btn-floating m-1"
    style="background-color: #E1306C;"
    href = "https://www.instagram.com/?hl=en"
    role="button"
    ><i class="fab fa-instagram"></i
    ></a>
    
    <!-- Linkedin -->
    <a 
    class="btn text-white btn-floating m-1"
    style="background-color: #0082ca;"
    href="https://www.linkedin.com/"
    role="button"
    ><i class="fab fa-linkedin-in"></i
    ></a>
    <!-- Github -->
    <a
    class="btn text-white btn-floating m-1"
    style="background-color: #333333;"
    href="https://www.github.com/"
    role="button"
    ><i class="fab fa-github"></i
    ></a>
    </section>
    <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(16, 14, 14, 0.518);">
    ©2023Copyright:S.P.Suresh
    <a class="text-white" href="https://issuetracker-xpgp.onrender.com"
    ">issueTracker.com
    </a>
    </div>
    <!-- Copyright -->
</footer>